/*******************************************************************************
    HEADER
*******************************************************************************/
header {
  background: #181818;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1000; }

.nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%; }

.logo-container {
  display: inline-block;
  width: 100px; }
  .logo-container h1 {
    font-family: 'Oswald';
    color: #ffdf08;
    line-height: 90px;
    font-size: 50px;
    margin: 0 0; }

.desktop-nav ul {
  float: right;
  margin-left: 0;
  height: 100%; }
.desktop-nav li {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20px;
  line-height: 90px; }
.desktop-nav a {
  color: white;
  text-decoration: none; }

.hamburger-container {
  position: absolute;
  top: 19px;
  right: 20px;
  color: white;
  font-size: 25px; }

.mobile-menu {
  width: 100%;
  height: 60px;
  background-color: #ffdf08; }
  .mobile-menu ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 0;
    text-align: center; }
    .mobile-menu ul li {
      display: inline-block;
      width: 20%;
      margin-left: -8px;
      margin: 0 0;
      text-align: center;
      line-height: 60px; }
      .mobile-menu ul li a {
        color: #181818;
        font-family: 'Oswald'; }

.close-menu {
  position: absolute;
  top: 30px;
  transition: top 0.3s cubic-bezier(0.54, 0.15, 0.37, 0.98); }

.open-menu {
  position: absolute;
  top: 90px;
  transition: top 0.3s cubic-bezier(0.54, 0.15, 0.37, 0.98); }

@media (max-width: 430px) {
  .mobile-menu {
    height: 120px; }
    .mobile-menu ul li {
      width: 40%; }

  .close-menu {
    position: absolute;
    top: -90px;
    transition: top 0.3s cubic-bezier(0.54, 0.15, 0.37, 0.98); } }
@media (min-width: 1023px) {
  .mobile-menu {
    display: none; } }
footer {
  height: 150px;
  background: #181818; }

main {
  padding-top: 80px; }
  main h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #818181;
    margin: 0 0 80px 30px; }

.content {
  background: #fff;
  overflow: hidden;
  padding: 0 30px 0;
  margin-bottom: 30px; }
  .content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px; }
  .content p {
    font-family: 'Raleway', sans-serif;
    color: #181818;
    text-align: justify; }
  .content ul {
    padding-top: 4px;
    margin: 0; }
    .content ul li {
      font-family: 'Raleway', sans-serif;
      color: #181818; }
    .content ul i {
      font-size: 30px; }
    .content ul h2 {
      font-family: 'Raleway', sans-serif;
      color: #181818;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px; }
  .content .image-container {
    position: relative;
    overflow: hidden;
    min-width: 250px;
    height: 300px; }
    .content .image-container img {
      max-width: inherit; }

.hero {
  width: 100%;
  height: 500px;
  padding-top: 150px;
  background: url("../img/hero-image.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
