@import 'colors';

main {
    padding-top: 80px;
    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        color: $tertiarycolor;
        margin: 0 0 20px 15px;
    }
}



.content {
    height: 500px;
    background: $secondarycolor;
    overflow: hidden;
    p {
        font-family: 'Raleway', sans-serif;
        color: $primarycolor;
        text-align: justify;
    }
}
